<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form update profile</title>
</head>
<body>
    <center>
        <h1>update your profile</h1>
        <form method="post" action="/user/profile">
            <label for="fullname">FullName</label><br>
                <input type="text" id="fullname" name="fullname" value="">
            <br><br>
            <label for="dateOfBirth">DOB</label><br>
                <input type="date" id="dateOfBirth" name="dateOfBirth" value="">
            <br><br>
            <label for="phoneNumber">Phone Number</label><br>
                <input type="text" id="phoneNumber" name="phoneNumber" value="">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>